body {
    background-color: #e9f2f9;
    font-family: Arial, sans-serif;
    margin: 0;
}

.topBar {
    background-color: #1b325f;
    color: #fff;
    padding: 1px;
}

.container {
    display: flex;
    height: 100%;
}

.formCol{
    width: 20%;
    height: 90%;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    background-color: #9cc4e4;
    border-radius: 5px;
}

.tasksDiv{
    width: 80%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: #3a89c9;
    border-radius: 5px;
}

.buttonAddTask{
    margin-left: 10px;
    background-color: #1b325f;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.inputTask{
    width: 65%;
    margin-left: 5px;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}